* {
  font-family: "Source Sans Pro";
}

html {
  overflow-x: hidden;
}

.topButtons {
  color: #000;
}

.btn {
  border-radius: 5px;
}

.button_search {
  font-size: 20px;
  text-align: left;
  height: 50px;
}

.btn:active {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0 !important;
}

.btn:focus,
.btn:hover {
  opacity: 1;
  outline: 0 !important;
}

.btn:active,
.btn:focus,
.btn:hover {
  background-color: #eea75a;
  color: #000 !important;
  /* border-color: #777; */
}

.form-control,
.navbar {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.bigButton:hover {
  font-weight: 600;
}

#searchButton {
  background-color: #e9ecef;
}

.bigButton:active {
  background-color: #eea75a !important;
  box-shadow: none !important;
}

.bigButton:focus {
  box-shadow: none;
}

.navigation-clean {
  background: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #333;
  border-radius: 0;
  box-shadow: none;
  border: none;
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .navigation-clean {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.navigation-clean .navbar-brand {
  font-weight: 700;
  color: inherit;
}

.navigation-clean .navbar-brand:hover {
  color: #222;
}

.navigation-clean .navbar-brand img {
  height: 100%;
  display: inline-block;
  margin-right: 10px;
  width: auto;
  margin-left: 5px;
}

.navigation-clean .navbar-toggle {
  border-color: #ddd;
}

.navigation-clean .navbar-toggle:focus,
.navigation-clean .navbar-toggle:hover {
  background: 0 0;
}

.navigation-clean .navbar-collapse,
.navigation-clean .navbar-form {
  border-top-color: #ddd;
}

a {
  color: #6d8de1;
}

#footer a:active,
a:hover {
  color: #fcf8f8;
  text-decoration: none;
  font-weight: 700;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline: 0;
}

a {
  color: #1e87f0;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #0f6ecd;
  text-decoration: underline;
}

img {
  vertical-align: middle;
}

img {
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
}

img {
  border-style: none;
}

address,
p,
ul {
  margin: 0 0 20px 0;
}

ul {
  padding-left: 30px;
}

footer,
nav {
  display: block;
}

a,
button,
input,
select {
  touch-action: manipulation;
}

.d-flex.justify-content-center.align-items-center.navbar-text {
  border-left: 4px solid #e0e0e0;
  height: 1.5em;
}

#topText {
  position: absolute;
  top: -0.25em;
  right: 2.5em;
}

.bigButton {
  width: 14vw;
  height: 7vw;
  font-size: 5vh;
  text-transform: uppercase;
  background: #ea9131;
  color: #000;
  border: none;
  font-family: "Source Sans Pro";
  line-height: 1em;
}

#iAmA {
  display: block;
  margin: auto;
  font-size: 3em;
  text-align: center;
  color: #000;
}

#looking {
  display: block;
  margin: auto;
  text-align: center;
  color: #000;
  padding-top: 1.5vh;
  font-size: 1.2em;
}

.table td {
  border-top: 0;
}

#searchButton:hover {
  background-color: #e0e0e0 !important;
}

#searchInput:focus {
  border: none;
}

#searchInput {
  border: none;
  border-radius: 0 5px 5px 0;
  z-index: 101;
}

#searchIcon {
  border: none;
}

.icon {
  line-height: 1.6em;
}

#searchButton:focus {
  border: none;
  box-shadow: none;
  background-color: #e0e0e0;
}

strong {
  -webkit-user-select: text;
}

.topButtons {
  background: #fff;
  outline: 0;
  border: none;
}

.bigButton:focus {
  box-shadow: none;
}

#container {
  height: 100%;
  width: 100%;
  position: absolute;
  /* background: green; */
}

#header,
#footer {
  width: 100%;
  /* background: red; */
}

#body {
  width: 100%;
  /* background: blue; */
}

.editorBody {
  padding-top: 1em !important;
}

.viewerBody {
  width: 95% !important;
  display: block !important;
  margin: auto !important;
}

#metaInputs {
  width: 100%;
  table-layout: fixed;
  margin-left: 1em;
  margin-right: 1em;
}

#save {
  margin-bottom: 1em;
  margin-right: 2em;
  background-color: #ea9131;
  height: 3vw;
  font-size: 1.2em;
  font-weight: bold;
}

#save:hover {
  background-color: #eea75a;
  text-shadow: -0.03ex 0 black, 0.03ex 0 black;
}

#save:focus {
  box-shadow: none;
}

#savetd {
  text-align: right;
}

.articleInput {
  width: 15vw;
  height: 2vw;
  margin-bottom: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#articleType:required:invalid {
  color: gray;
}
option[value=""][disabled] {
  display: none;
}
option {
  color: black;
}

input {
  text-indent: 5px;
}

.dropdown {
  position: relative;
  /* display: inline-block; */
}

.dropdown-content {
  /* display: none; */
  top: 100%;
  right: 0%;
  position: absolute;
  background-color: #fff;
  width: calc(50vw - 2.375rem);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.dropdown-content.hide {
  visibility: hidden;
}

#searchIcon.active {
  background-color: #fff;
  padding: 0.375rem 0.2rem 0.375rem 0.4rem;
  font-size: 0.75rem;
  border-radius: 5px 0 0 0;
  z-index: 101;
}

#searchInput.active {
  padding: 0.375rem 0.75rem 0.375rem 0.1rem;
}

.dropdown-content.active {
  width: 50vw;
  transition: width 250ms linear;
}

.dropdown-content a {
  color: black;
  font-size: 1em;
  font-family: "Source Sans Pro";
  /* padding: 12px 16px 12px 1.5em; */
  text-decoration: none;
  display: block;
}

.searchResults {
  padding: 0.5em 0;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

#searchForm {
  display: flex;
}

.notransition {
  -o-transition: none !important;
  -ms-transition: none !important;
  -moz-transition: none !important;
  -webkit-transition: none !important;
  transition: none !important;
}

.transition {
  -o-transition: all 50ms cubic-bezier(0.4, 0, 1, 1) !important;
  -ms-transition: all 50ms cubic-bezier(0.4, 0, 1, 1) !important;
  -moz-transition: all 50ms cubic-bezier(0.4, 0, 1, 1) !important;
  -webkit-transition: all 50ms cubic-bezier(0.4, 0, 1, 1) !important;
  transition: all 50ms cubic-bezier(0.4, 0, 1, 1) !important;
}
